@using Tutorial2.Domain.Entity

<header>
    <nav>
        <div id="header-nav-div">
            <a asp-area="" asp-controller="Home" asp-action="Index">@Config.WebsiteName</a>
            <ul id="header-nav-div-ulmenu">
                <li>
                    <a href="#">Authorization</a>
                    <ul id="ulmenu-dynamiclist">
                        <li>
                            <a href="#">Log in</a>
                        </li>
                        <li>
                            <a href="#">Registration</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>