
<section id="header">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Logo -->
					<h1><a href="/" id="logo">@Config.CompanyName</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<a asp-area="" asp-controller="Home" asp-action="Index">Main</a>
						<a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Our services</a>
						<a asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
					</nav>

			</div>
		</div>
	</div>
</section>