

.test-li {
    vertical-align: central;
    text-align: center;
    display: block;
    padding: 0.5rem 0.5rem;
}

header {
    text-transform: uppercase;
    /*color: brown;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title-brand {
    color: green;
    margin-right: 50px;
}

.title-brand:hover {
    text-decoration: none;
}